<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-1">Welcome to Story</h1>
  <hr class="my-4">
  <p class="lead">Your one stop-shop for srcipts and more!</p>
  <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Login</a>
  <a class="btn btn-success btn-lg" href="/users/sign_up" role="button">SignUp</a>
</div>
